<header #header>
    <div (click)="help.toggleMenu()" class="button-menu">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <figure class="come-in"><img src="assets/img/logo.png" alt=""></figure>
    <p class="come-in">Tattoo & Piercing Barcelona</p>
    <nav class="come-in">
      <ul>
        <li><a (click)="selectNavigate('#tattoo')">Tattoo</a></li>
        <li><a (click)="selectNavigate('#piercing')">Piercing</a></li>
        <li><a (click)="selectNavigate('#micro')">MicroPigmentación</a></li>
        <li><a (click)="selectNavigate('#team')">Equipo</a></li>
        <li><a (click)="selectNavigate('#contact')">Contacto</a></li>
        <li><a routerLink="blog">Blog</a></li>
        <li *ngIf="!auth.isLoggedIn"><a routerLink="login">Login</a></li> 
        <li class="admin"><a *ngIf="auth.isLoggedIn">Admin</a>
          <ul>
            <li [routerLink]="['/admin','new']" >New Article</li>
            <li [routerLink]="['/admin','list']" >Admin Articles</li>
            <li [routerLink]="['/admin','gallery']">Admin Galleries</li>
            <li (click)="auth.signOut()">LogOut</li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>