<footer>
   <figure>
      <img src="assets/img/log.jpg" alt="">
    </figure>
    <aside>
      <ul>
        <li (click)="selectNavigate('#tattoo')">Tattoo</li>
        <li (click)="selectNavigate('#piercing')">Piercing</li>
        <li (click)="selectNavigate('#micro')">MicroPigmentación</li>
        <li (click)="selectNavigate('#team')">Equipo</li>
        <li (click)="selectNavigate('#contact')">Contacto</li>
        <li routerLink="blog">Blog</li>
      </ul>
    </aside>
    
    <div class="social">
      <a href="https://www.facebook.com/bestinkbarcelona/" target="_blank"><i class="fa fa-facebook hi-icon"></i></a>
      <a href="https://www.facebook.com/bestinkbarcelona/" target="_blank"><i class="fa fa-twitter hi-icon"></i></a>
      <a href="https://www.instagram.com/bestinktattoo/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    
    <div class="created">©2017 - Best ink Barcelona  Created by raf@x - <a href="http://www.juanrafaelsimarro.com"> Contact</a></div>
   
</footer>