form{
    margin: 20px;
   
}
form,.message{
    font-family: sans-serif;
}
form figure{
    width: 200px;
    margin: 5px;
}

form figure img{
    width: 100%;
}

form figure figcaption{
    margin-bottom: 5px;
    font-weight: 600;
    color: #5F5D5A;
}

.has-error{
    color:red;
}

