<div class="container">
  <div *ngIf="message.length > 0" class="alert alert-info alert-dismissible come-in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{message}}
  </div>
  <form method="post" id="formNew" #formNew="ngForm" novalidate enctype="multipart/form-data" (ngSubmit)="onSubmit(formNew,$event)" autocomplete="off">
    <div class="form-group">
        <figure>
            <figcaption>Imagen para el articulo</figcaption>
            <img id="preview" src={{preview}} alt="img-post">
        </figure>
    </div>
    <div class="form-group">
        <label for="imagen">Selecciona imagen</label>
        <input type="file" name="imagen" id="imagen" class="form-control" accept=".jpg, .bmp, .png, .jpeg" (change)="changeImage($event)" #imageArticle #imagen="ngModel" ngModel/>
    </div>
    <div class="form-group" [ngClass]="{'has-error':titulo.errors && (titulo.touched || titulo.dirty)}">
        <label for="titulo">Titulo del articulo</label>
        <input  name="titulo"  id="titulo" type="text" class="form-control" minlength="4" maxlength="30" required #titleArticle #titulo="ngModel" ngModel />
    </div> 
    <div *ngIf="titulo.errors && (titulo.touched || titulo.dirty)" class="has-error">
        <div *ngIf="titulo.errors.required">
            El titulo es requerido
        </div>
        <div *ngIf="titulo.errors.minlength">
                El titulo debe tener al menos 4 caracteres
        </div>
        <div *ngIf="titulo.errors.maxlength">
                El titulo no puede exceder de 30 caracteres
         </div>
    </div>
    <br>
    <div class="form-group" [ngClass]="{'has-error':articulo.errors && (articulo.touched || articulo.dirty)}">
        <label for="articulo">Articulo</label>
        <textarea name="articulo" ngModel #articulo="ngModel" [froalaEditor]="optionsEditor" minlength="10" #articleArt required></textarea>
    </div>
    
    <div *ngIf="articulo.errors && (articulo.touched || articulo.dirty)" class="has-error">
        <div *ngIf="articulo.errors.required">
            El articulo es requerido
        </div>
        <div *ngIf="articulo.errors.minlength">
            El articulo debe tener al menos 10 caracteres
        </div>
    </div>
    <br>
    <button [disabled]="!formNew.valid" type="submit" class="btn btn-primary">{{ modeEdit ? 'Editar' : 'Guardar' }}</button>
  </form>
</div>
 
 