/* You can add global styles to this file, and also import other style files */


body{
    width:100%;
    background-color: #d2d6d5;
    box-sizing: border-box;
    font-family: 'Macondo'!important;
}
button{
    cursor: pointer;
}
/* Animations for elemnets*/
.come-in {

    animation:showup .8s ease forwards;
}
.come-out{
    animation:showdown .8s ease forwards;
}

.container{
      margin: 50px auto;
}

.container .divider{
    max-width:250px;
    margin: 0 auto;
    position: relative;
}

.container .divider:after,
.container .divider:before{
    content:"";
    position:absolute;
    top:50%;
    width:350px;
    height: 1px;
    background: rgba(26, 25, 24, 0.17);

}
.container .divider:after{
    left:275px;
}
.container .divider:before{
    left: -385px
}
.container .divider img{
    width:100%;
    
}
.alert{
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 9999;
    
}
/*Pagination element*/
.pagination{
    padding-left:inherit;
}
.pagination li a{
    cursor: pointer;
}
.pagination >.active > a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #986d09 !important;
    border-color: #af7e0d !important;
}

.pointer{
    cursor: pointer;
}


.container .post-container{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
 .container .post-container .post{
    display: flex;
    flex-direction: column;
    flex:0 1 45%;
    padding:20px;
    position: relative;
    z-index: 0;
 
}

.container .post-container .post:after{
    content:"";
    height: 1px;
    width: 90%;
    background: rgba(51, 51, 51, 0.35);
    position: absolute;
    bottom: 0;
    margin: 0 5%;
}
.goToTop{
    position: fixed;
    padding: 15px;
    bottom: 0;
    right: 0;
    border-radius:50%;
    z-index: 100000;
    cursor: pointer;
    margin: 40px;
    -moz-opacity: 0.50;
    opacity: .50;
    
    color:#986d09;
    filter: alpha(opacity=50);
    border: 3px dotted #986d09;;
}
.goToTop i{
    font-weight: bold;
}
@media screen and (max-width:768px){
    .post{
        flex:1 1 100% !important;      
        margin-bottom: 20px!important;
    }
    
}




@keyframes showup{
    0%{
        opacity: 0;
        transform:translate(0,50px);
    }
    100%{
        opacity: 1;
        transform:translate(0,0);
    }
}
@keyframes showdown{
    0%{
        opacity: 1;
        transform:translate(0,0);
    }
    100%{
        opacity: 0;
        transform:translate(0,50px);
    }
}