<div class="card" style="">
    <img class="card-img-top" [src]="post.img_url" alt="image post">
    <div class="card-body">
        <h4 class="card-title">{{ post.title | capitalize }}</h4>
        <div class='article-info' [innerHTML]="post.content | sinimagen| slice:0:200 | domseguro"></div>
        <a *ngIf="!editing" [routerLink]="['/article',post.key]" class="btn btn-link">Ver mas...</a>
    </div>
    <div *ngIf="editing" class='buttons card-footer'>
        <button type='button' [routerLink]="['/article',post.key]" class='btn btn-default' aria-label='Left Align' title="Ver Artículo"><i class="fa fa-eye" aria-hidden="true"></i></button>
        <button type='button' (click)="edit(post.key)" class='btn btn-default' aria-label='Left Align' title="Editar Artículo"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button type='button' (click)="remove(post.key)" class='btn btn-danger' aria-label='Left Align' title="Eliminar Artículo"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</div>
