
figure{
    margin: 0;
}

figure img{
    box-sizing: border-box;
    width: 100%;
}

:host ::ng-deep .article .article-info img { 
    width: 150px;
    height: auto;
}
a{
    margin-top: auto;
}
.buttons{
    margin-top: auto;
    text-align: right!important;
    align-self: flex-end;
    
}
 .buttons button{
    margin-right: 5px;
}



