<div class="container">
  <figure class="portal">
    <img src="assets/img/tienda.jpg" alt="">
  </figure>
  <section id="tattoo">
    <div class="info-section">
      <h2 data-darkbox="assets/img/tattoo1.jpg" data-darkbox-group="tattoo" data-darkbox-description="<b>Tattoos Gallery</b></br>Por Juan Carlos Rodriguez">Tattoo</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque,
        ea eaque molestiae distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque, ea eaque
        molestiae distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque, ea eaque molestiae
        distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!</p>
    </div>
    <div class="imgs-section right" [attr.data-darkbox]="imagesTattoo && imagesTattoo[0] ? imagesTattoo[0].url : ''" data-darkbox-group="tattoo" data-darkbox-description="<b>Tattoos Gallery</b><br>Por Juan Carlos Rodriguez">
      <figure *ngIf="imagesTattoo && imagesTattoo[0]" class="pos1">
        <img [src]="imagesTattoo[0].url" alt="">
      </figure>
      <figure *ngIf="imagesTattoo && imagesTattoo[1]" class="pos2">
        <img [src]="imagesTattoo[1].url" alt="">
      </figure>
      <figure *ngIf="imagesTattoo && imagesTattoo[2]" class="pos3">
        <img [src]="imagesTattoo[2].url" alt="">
      </figure>
      <span *ngFor="let tatImage of imagesTattoo;let i = index" 
            data-darkbox-group="tattoo" [attr.data-darkbox]="tatImage.url"></span>
      
    </div>
  </section>
  <div class="divider"><img src="assets/img/divider.png" alt=""></div>
  <section id="piercing">
    <div class="imgs-section left" [attr.data-darkbox]="imagesPiercing && imagesPiercing[0] ? imagesPiercing[0].url : ''" data-darkbox-group="piercing" data-darkbox-description="<b>Piercing</b><br>Por Marta Slow">
      <figure *ngIf="imagesPiercing && imagesPiercing[0]" class="pos1">
        <img [src]="imagesPiercing[0].url" alt="">
      </figure>
      <figure *ngIf="imagesPiercing && imagesPiercing[1]" class="pos2">
        <img [src]="imagesPiercing[1].url" alt="">
      </figure>
      <figure *ngIf="imagesPiercing && imagesPiercing[2]" class="pos3">
        <img [src]="imagesPiercing[2].url" alt="">
      </figure>
      <span *ngFor="let piImage of imagesPiercing;let i = index"  
              data-darkbox-group="piercing" [attr.data-darkbox]="piImage.url"></span>
      
    </div>
    <div class="info-section">
      <h2 data-darkbox="assets/img/piercing1.jpg" data-darkbox-group="piercing" data-darkbox-description="<b>Piercing</b><br>Por Marta Slow">Piercing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque,
        ea eaque molestiae distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque, ea eaque
        molestiae distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque, ea eaque molestiae
        distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!</p>
    </div>
  </section>
  <div class="divider"><img src="assets/img/divider.png" alt=""></div>
  <section id="micro">
    <div class="info-section">
      <h2 data-darkbox="assets/img/micro1.jpg" data-darkbox-group="micro" data-darkbox-description="<b>Micro Pigmentación</b>Por ....">MicroPigmentación</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque,
        ea eaque molestiae distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque, ea eaque
        molestiae distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Ipsum odit, autem assumenda in at, minus alias dolorum itaque, ea eaque molestiae
        distinctio cumque explicabo fuga pariatur cupiditate necessitatibus nam inventore!</p>
    </div>
    <div class="imgs-section right" [attr.data-darkbox]="imagesMicro && imagesMicro[0] ? imagesMicro[0].url:''" data-darkbox-group="micro" data-darkbox-description="<b>Micro Pigmentación</b>Por ....">
      <figure *ngIf="imagesMicro && imagesMicro[0]" class="pos1">
        <img [src]="imagesMicro[0].url" alt="">
      </figure>
      <figure *ngIf="imagesMicro && imagesMicro[1]" class="pos2">
        <img [src]="imagesMicro[1].url" alt="">
      </figure>
      <figure *ngIf="imagesMicro && imagesMicro[2]"  class="pos3">
        <img [src]="imagesMicro[2].url" alt="">
      </figure>
      <span *ngFor="let micImage of imagesMicro;let i = index" data-darkbox-group="micro" [attr.data-darkbox]="micImage.url"></span>
      
    </div>
  </section>
  <div class="divider"><img src="assets/img/divider.png" alt=""></div>
  <section id="team">
    <div class="info-section">
      <h2>Equipo</h2>
    </div>
    <div class="team-imgs-section">
      <figure class="team-img pointer">
        <img src="assets/img/equipo1.jpg" alt="">
        <div class="img-info">
          <p>Marta Slow</p>
          <p>Profesional Body Piercing</p>
        </div>
      </figure>
      <figure class="team-img pointer">
        <img src="assets/img/equipo2.jpg" alt="">
        <div class="img-info">
          <p>Sandra Martin</p>
          <p>Micro Pigmentation</p>
        </div>
      </figure>
      <figure class="team-img pointer">
        <img src="assets/img/equipo3.jpg" alt="">
        <div class="img-info">
          <p>Juan Carlos</p>
          <p>Tattoo Artist</p>
        </div>
      </figure>
    </div>
  </section>
  <div class="divider"><img src="assets/img/divider.png" alt=""></div>
  <section id="contact">
    <div class="info-section">
      <h2>Contacto</h2>
    </div>
    <div class="contact-info">
      <div class="contact-map">
        <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true" [zoom]="zoom" (mapClick)="clickMapMarker()">
          <agm-marker [latitude]="lat" [longitude]="lng" [title]="'Best Ink Barcelona'" >
              <agm-info-window [isOpen]="true"> <b>Best Ink Barcelona</b><br>C/ Riera d'en Nofre, 36,<br>08970 Sant Joan Despí, Barcelona</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <div class="contact-address">
        <span>Estamos a un paso de ti:</span> Riera d'en Nofre, 36<br> 08970 Sant Joan Despí, Barcelona
        <span>Como llegar?</span>
        <div><i class="fa fa-train" aria-hidden="true"></i> R$ Sant Joan Despi</div>
        <div><i class="fa fa-bus" aria-hidden="true"></i> E3 78</div>
        <span>Info y reservas:</span>
        <div><i class="fa fa-phone" aria-hidden="true"></i> 936 39 73 08</div>
        <div>
          <a href="https://api.whatsapp.com/send?phone=633885850"><i class="fa fa-whatsapp" aria-hidden="true"></i> 633 88 58 50</a>
        </div>
      </div>
      <form id="contacto" #contactForm="ngForm" novalidate (ngSubmit)="onSubmit(contactForm)" autocomplete="off">
        <label for="" style="color:white">Envianos un email</label>
        <input type="text" name="name" placeholder="Tu Nombre" minlength="4" maxlength="30" ngModel required #name="ngModel">
        <div *ngIf="name.errors && (name.dirty || name.touched)" class="has-error">
          <div class="error" *ngIf="name.errors.required">
            Nombre es requerido.
          </div>
          <div class="error" *ngIf="name.errors.minlength">
            Nombre debe ser minimo 4 caracteres.
          </div>
          <div class="error" *ngIf="name.errors.maxlength">
            Nombre debe ser max 30 caracteres.
          </div>
        </div>
        <input type="email" name="email" placeholder="Tu Email" EmailValidator ngModel required #email="ngModel">
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="has-error">
          <div class="error" *ngIf="email.errors.required">
            Email es requerido.
          </div>
          <div class="error" *ngIf="email.errors.validEmail">
            Email tiene un formato invalido.
          </div>
        </div>
        <textarea name="message" placeholder="Tu Mensage" ngModel required #message="ngModel" rows="6"></textarea>
        <div *ngIf="message.errors && (message.dirty || message.touched)" class="has-error">
          <div class="error" *ngIf="message.errors.required">
            Message es requerido.
          </div>
        </div>
        <div class="buttons">
          <button [disabled]="!contactForm.valid">Enviar</button>
        </div>
      </form>
    </div>
  </section>

</div>